/* Inserta tu código aqui */

.ml-5{margin-left: 57%;
	ma
}
.mt-3{
	margin-top:3%;
}
.mt-5{
	margin-top: 5%;
}
.mt-1{
	margin-top: 2.2%;
}
.pd-2{
	padding: 2%;
} 
.plr-2{
	padding-left: 2%;
	padding-right: 2%;
}
.plr{
	padding-left: 2%;
	padding-right: 50%;
}
input{
	size: 15;
	border:1px solid black;
	padding-left: 5%;
}
.glyphicon{
	margin-left: 2%;
}
.buscar{
	margin-top: 9%;
	border-radius:8%;
	color:#000; 
	border:1px solid #000;
}
/* *{
	color:gray; */
}
a{
	text-decoration: none;
	color: #000;
}
a:visited{
	color: #000;
}
ul.navbar-nav li.active {
    background-color: white;
}
mark{
	background-color: gray;
}
img{
	width: 100%;
}
nav{
	background-color: gray!important;
}
.cont-video{
	width: 100%;
	background-color:#D0D3D4 ;
	height: 380px;
}
.bg-gray{
	background-color:#D0D3D4 ;
}

#hd{
	margin-left: 2.5%;
	padding-top: 1.2%;
	margin-bottom: 2%;
	color: red;
}
iframe{
	width: 100%;
}

.agenda{
	width: 40%;
	background-color:gray; 
}
hr{
	border:.3px solid gray;
}
#negritas{
	font-weight: bold;
	font-size: 1em;
}
.mr{
	margin-left: -20%;
	padding-right: 10%;
}
.borde{
	margin-left: 1%;
	margin-right: .5%;
}
.mrf{
	margin-left: -100%;
}
.mrf2{
	margin-left: -90%;
}
.mrf3{
	margin-left: -60%;
}